@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CinemaApp.Web.Models.AddToShoppingCartDto
@{
    ViewData["Title"] = "AddToShoppingCart";
}
<h2>AddToShoppingCart</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToShoppingCart">
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <input disabled class="form-control" asp-for="SelectedProduct.Name" />
            </div>
            <div class="form-group">
                <input class="form-contol" asp-for="Quantity" type="number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
